<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Iris Species Classification</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<div class="ui container" , style="margin-top:50px">

    <body>
    <h1>Choosing your Crypo Pair and Threshold</h1>

    <form class="ui form" method="POST" action="/">

        <select class="ui dropdown" name="pair">
            <option value="">Select Crypto Pair</option>
            <option value="btcusdt">BTCUSDT</option>
            <option value="ethusdt">ETHUSDT</option>
        </select>

        <div class="field">
            <label>Threshold</label>
            <input type="number" name="threshold" placeholder="Which threshold?">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    </body>
</div>

</html>